<!-- Blog Archive -->
<section id="aa-blog-archive">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-blog-archive-area">
            <div class="row">
              <div class="col-md-12">
                <!-- Blog details -->
                <div class="aa-blog-content aa-blog-details">
                  <article class="aa-blog-content-single">
                    <h2><a>DooyD Refund Policy</a></h2>
                    <p class="justify">For Construction materials and equipment’s and services, In the event, if you found any products defects during delivery, Supplier is responsible and will provide the replacement or the refund back the money, provided the reasons are genuine and proved after investigation. Please read the fine prints of each deal before buying it, it provides all the details about the services or the product you purchase.</p>
                    <p class="justify">If paid by credit card, refunds will be issued to the original credit card provided at the time of purchase and in case of payment gateway name payments refund will be made to the same account.</p>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / Blog Archive -->
  