<!-- Blog Archive -->
<section id="aa-blog-archive">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-blog-archive-area">
          <div class="row">
            <div class="col-md-12">
              <!-- Blog details -->
              <div class="aa-blog-content aa-blog-details">
                <article class="aa-blog-content-single">
                  <h2><a>DooyD Cancellation Policy</a></h2>
                  <p class="justify">For Construction materials and equipment’s and services, Cancellation is not
                    acceptable after order placement. Therefore, buyer/users shall buy/place the order for only the
                    required products and service.</p>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / Blog Archive -->
