<!-- Blog Archive -->
<section id="aa-blog-archive">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-blog-archive-area">
          <div class="row">
            <div class="col-md-9">
              <!-- Blog details -->
              <div class="aa-blog-content aa-blog-details">
                <article class="aa-blog-content-single">
                  <h2>{{blog.title}}</h2>
                  <div class="aa-article-bottom">
                    <div class="aa-post-author">
                      Posted By <a href="#">DooyD</a>
                    </div>
                    <div class="aa-post-date">
                      {{blog.createdDate | date: "MMM dd, yyyy"}}
                    </div>
                    <div class="float-right">
                      <div class="blog-single-social">
                        <a href="javascript:void(0)"
                          (click)="onShare('https://www.facebook.com/sharer.php?u=https://dooyd.com/')"><i
                            class="fa fa-facebook"></i></a>
                        <a href="javascript:void(0)"
                          (click)="onShare('https://twitter.com/share?url=https://dooyd.com/')"><i
                            class="fa fa-twitter"></i></a>
                        <a href="javascript:void(0)"
                          (click)="onShare('https://www.linkedin.com/sharing/share-offsite/?url=https://dooyd.com/')"><i
                            class="fa fa-linkedin"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12">
                      <hr class="mt-0">
                    </div>
                  </div>
                  <figure class="aa-blog-img">
                    <a><img [src]="blog.img" alt="fashion img"></a>
                    <p>{{blog.shortDescription}}</p>
                    <div [innerHTML]="blog.description"></div>
                  </figure>
                </article>
                <!-- blog comments form -->
                <div id="respond">
                  <h3 class="reply-title">Leave a Comment</h3>
                  <form id="commentform" [formGroup]="BlogCommentForm" (ngSubmit)="AddBlogComment()">
                    <p class="comment-form-comment">
                      <label for="comment">Comment</label>
                      <textarea formControlName="comment" cols="45" rows="2" aria-required="true"></textarea>
                    </p>
                    <!-- <div class="validation-error"
                      *ngIf="BlogCommentFormControls.comment.errors?.required && (IsformSubmit||BlogCommentFormControls.comment.touched)">
                      Comment is required
                    </div> -->
                    <p class="form-submit">
                      <input type="submit" name="submit" [disabled]="!BlogCommentForm.valid" class="aa-browse-btn"
                        value="Post Comment">
                    </p>
                  </form>
                </div>
                <!-- Blog Comment threats -->
                <div class="aa-blog-comment-threat" *ngIf="blogComment ?.length  != 0 || blogComment ?.length  != 0 ">
                  <h3>Comments</h3>
                  <div class="comments">
                    <ul class="commentlist">
                      <li *ngFor="let cmt of blogComment" infiniteScroll [infiniteScrollDistance]="8"
                        [infiniteScrollThrottle]="50" (scrolled)="LoadMore()">
                        <div class="media">
                          <div class="media-left">
                            <img class="media-object news-img"
                              src="https://devdooydstorage.blob.core.windows.net/dooyd/girl.png" alt="img">
                          </div>
                          <div class="media-body">
                            <h4 class="author-name">{{cmt.name}}</h4>
                            <span class="comments-date">{{cmt.createdDate  | date: "MMM dd, yyyy"}}</span>
                            <p>{{cmt.comments}}</p>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- blog sidebar -->
            <!-- <div class="col-md-3">
              <aside class="aa-blog-sidebar">
                <div class="aa-sidebar-widget">
                  <h3>Recent Post</h3>
                  <div class="aa-recently-views">
                    <ul>
                      <li>
                        <a class="aa-cartbox-img" href="#"><img
                            src="https://devdooydstorage.blob.core.windows.net/dev/sys.jpg" alt="img"></a>
                        <div class="aa-cartbox-info">
                          <h4><a href="#">Lorem ipsum dolor sit amet.</a></h4>
                          <p>March 26th 2016</p>
                        </div>
                      </li>
                      <li>
                        <a class="aa-cartbox-img" href="#"><img
                            src="https://devdooydstorage.blob.core.windows.net/dev/sys.jpg" alt="img"></a>
                        <div class="aa-cartbox-info">
                          <h4><a href="#">Lorem ipsum dolor.</a></h4>
                          <p>March 26th 2016</p>
                        </div>
                      </li>
                      <li>
                        <a class="aa-cartbox-img" href="#"><img
                            src="https://devdooydstorage.blob.core.windows.net/dev/sys.jpg" alt="img"></a>
                        <div class="aa-cartbox-info">
                          <h4><a href="#">Lorem ipsum dolor.</a></h4>
                          <p>March 26th 2016</p>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </aside>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / Blog Archive -->