<!-- Blog Archive -->
<section id="aa-blog-archive">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-blog-archive-area">
          <div class="row">
            <div class="col-md-12">
              <!-- Blog details -->
              <div class="aa-blog-content aa-blog-details">
                <article class="aa-blog-content-single">
                  <h2><a>About DooyD.com</a></h2>
                  <h4>Welcome to DooyD.com – The Digital Project Solution</h4>
                  We are Digital Project Solution provider and B2B, B2C, C2C marketplace. We connect people, businesses, products and services:-
                  <blockquote>Procurements of Product such as Equipments, Machinery, components, parts, all kind of Project Materials.</blockquote>
                  <blockquote>Project Design and Engineering services such as Design, Analysis, Calculations, Specialist study, 3DModel, Plan, Layouts, Drawings, Bill of Material (BOM), Specifications, Data sheets, Material Requisitions, Technical Bid Evaluations, Vendor products technical review, etc.</blockquote>
                  <blockquote>Construction service such as building works, prefabrication, Fabrications, Installation and Erection of industrial plants, etc.</blockquote>
                  <blockquote>Equipment Rentals such as Generator, Crane, Excavator, JCP, roller, Forklift, etc.</blockquote>
                  <h3>Discipline product and service covered: </h3>
                  <blockquote>Mechanical, Electrical, Instrumentation and Control, Telecom, Civil and Structural.</blockquote>
                  <h3>Sectors: </h3>
                  <blockquote>Residential Building, Industrials, Oil and Gas, Power, water and Infrastructure Projects.</blockquote>
                  <h2><a>Core Values</a></h2>
                  <blockquote>Creativity, Engineering, Technology, Seamless Execution, and Digital Cogency</blockquote>
                  <h2><a>This is DooyD.com – we power your business and digital project experience.</a></h2>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / Blog Archive -->
