<!-- Blog Archive -->
<section id="aa-blog-archive">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-blog-archive-area">
          <div class="row">
            <div class="col-md-12">
              <!-- Blog details -->
              <div class="aa-blog-content aa-blog-details">
                <article class="aa-blog-content-single">
                  <h2><a>DooyD Payment Policy</a></h2>
                  <p class="justify">1. Buyer will make payment to dooyd.com upon place an order.</p>
                  <p class="justify">2. Dooyd.com will send notification to ship the item once the payment is received
                    by dooyd.com. Seller will start ship the item only after order full amount is received by
                    dooyd.com.</p>
                  <p class="justify">3. Seller will receive the payments after receive the items by buyer. Payment will
                    be made to seller within 2 days once confirm the receipt of the products by buyer.</p>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / Blog Archive -->
