<!-- Blog Archive -->
<section id="aa-blog-archive">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-blog-archive-area">
            <div class="row">
              <div class="col-md-12">
                <!-- Blog details -->
                <div class="aa-blog-content aa-blog-details">
                  <article class="aa-blog-content-single">
                    <h2><a>DooyD Return Policy</a></h2>
                    <p class="justify">If at the time of delivery, if any defect is found, then the buyer of the product/s can ask for return of the product. Notify seller of any defects in the product/s at the time of delivery of the product/s. the same product/s will be replaced in return of the defective product/s by Seller directly.</p>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / Blog Archive -->
  